/* Select all elements*/
*
*,
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}    
body{
    background-image: url(https://i.postimg.cc/BvfdYCD9/1477387.png);
    font-family: sans-serif;
    background-size: cover;
    overflow-x: hidden;
}
/* home */
.wrapper {
    padding-top: 250px;
    color: antiquewhite;
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    border-radius: 30px;
    display: block;
    margin: 15px auto;
    width: 300px;
}
/* resume */
.wrappery img,.wrappery p{
    display: block;
    margin: 15px;
    width: 200px;   
}
/* a{
    margin: left;
    text-decoration: none;
    font-family: monospace;
} */
i{
    display: inline;
    color: grey;
}
.navbar-brand{
    color: white;
}
.slide{
    border-radius: 30%;
    width: 400px;
}
h2,h4{
    color: lightslategray;
    text-align: center;
    
}
#about{
    align-items: center;
}
p{
    color: antiquewhite;
    font-family: monospace;
}
#h1{
    position: relative;
    animation: moveright 3s infinite;
    animation-direction: alternate;
}
@keyframes moveright {
    from{ left: 0%;}
    to { left: 10%;}  
}
#h2{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    position: relative;
    animation: moveleft 3s infinite;
    animation-direction: alternate; 
}
@keyframes moveleft {
    from{right: 0%;}
    to{right: 10%;}   
}
html{
    scroll-behavior: smooth;
}
ul{
    color: antiquewhite;
}
@media screen and (max-width:720px){
    #home{
        width: 100%;
    }
    #about .col-6{
        width: 100%;
    }
    #education .col-6{
        width: 100%;
    }
    #skills .col-6{
        width: 100%;
    }
    #project .col-6{
        width: 100%;
    }
    #testimonials {
        width: 100%;
    }

    
}