/* Select all elements*/
*
*,
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header,main,footer*/
header,main,footer {
    min-width: 99vw;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap');
/*header*/
header{
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(230, 219, 219);
}
.logo{
    width: 5em;
    height: auto;
}
/*Place the menu to the right of the page*/
.menu {
    /* margin: auto 0; */
    align-items: flex-end;
    margin: 5px 500px 0;
    
}
/* main */
/* heading */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}    
/*Navbar*/
.menu-list{
    text-decoration: none;
    margin: auto;
    display: inline-flex;
    list-style: none;
}
.menu-list li{
    padding: 0 10px;
    text-decoration: none;

}
body{
    background-color: white;
    font-family: sans-serif;
}
p{
    text-align: center;
}
/* home */
#home {
    background-color:white;
    background-image: url(https://i.postimg.cc/4Nf2zB1R/leone-venter-Vie-M9-Bd-ZKFo-unsplash.jpg);
    background-size: cover;
}
h2{
    color: black;
}
.wrapper {
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    border-radius: 90%;
    display: block;
    margin: 15px auto;
    width: 300px;
}
/* resume */
.wrappery img,.wrappery p{
    display: block;
    margin: 15px;
    width: 200px;
    
}
/* visited link */
a:visited{
    color: black;
}
/* mouse over link */
a:hover{
    transition: 0.6s;
    color: skyblue;
}
/* selected link */
a:active{
    color: purple;
}
a{
    margin: auto;
    text-decoration: none;
    font-family: monospace;
}
i{
    display: inline;
    color: grey;
}